<div
    class="min-h-screen flex items-center justify-center bg-neutral-950 px-4"
>

    <div
        class="max-w-lg text-center"
    >

        <div class="text-7xl">
            🚫
        </div>

        <h1
            class="mt-6 text-3xl font-medium sm:text-4xl text-white"
        >
            Acceso denegado
        </h1>

        <p
            class="mt-4 text-neutral-400"
        >
            Tu usuario no tiene permisos para acceder a esta sección.
        </p>

        <a
            routerLink="/login"
            class="mercury-button mt-8 inline-block px-6 py-3 font-semibold"
        >
            Volver
        </a>

    </div>

</div>